/*  样式初始化
------------------------------------------------ */
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
body {
  background-color: rgb(15, 19, 26);
  box-sizing: border-box;
  color: rgb(255, 255, 255);
  display: block;
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  height: 100vh;
  line-height: 24px;
  margin-bottom: 0px;
  margin-left: 0px;
  margin-right: 0px;
  margin-top: 0px;
  text-align: left;
  text-size-adjust: 100%;
  width: 100vw;
  zoom: 1;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
li {
  list-style: none;
}
img {
  vertical-align: middle;
  border: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: none !important;
  color: inherit;
}
:after,
:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
