@font-face {
  font-family: "iconfont"; /* Project id 2405275 */
  src: url('iconfont.woff2?t=1649866082038') format('woff2'),
       url('iconfont.woff?t=1649866082038') format('woff'),
       url('iconfont.ttf?t=1649866082038') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.iconshandian:before {
  content: "\e615";
}

.iconyitaifang:before {
  content: "\e605";
}

.iconjia:before {
  content: "\e62b";
}

.iconjian:before {
  content: "\e62c";
}

.icontwitter:before {
  content: "\e79b";
}

.icondiscord:before {
  content: "\ebf8";
}

.iconelementui:before {
  content: "\e604";
}

.icondb_mgdb_router:before {
  content: "\e79c";
}

.iconvue:before {
  content: "\e6b9";
}

.iconzhedie2:before {
  content: "\e620";
}

.iconzhedie1:before {
  content: "\e621";
}

